
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Календар подій</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h2>Календар подій</h2>


    <div id="calendar"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'uk',
            events: '/reservations/events-json/?room_type={{ selected_type }}',
            eventClick: function(info) {
                if (info.event.url) {
                    window.open(info.event.url, "_blank");  // Переход по ссылке в новом окне
                    info.jsEvent.preventDefault();  // Остановить стандартное поведение ссылки
                }
            }
        });

        calendar.render();
    });
</script>
</body>
</html>
