{% extends 'base.html' %}

{% block title %}Головна{% endblock %}

{% block body %}
<h1>Best Group Portal</h1>
{% if user.is_authenticated %}
  <p>Привіт, {{ user.first_name }}!</p>
  <h2>Майбутні події</h2>
    <ul>
        {% for event in events %}
            <li>
                <h2>{{ event.title }}</h2>
                <p>{{ event.description }}</p>
                <p><strong>Дата:</strong> {{ event.date }} <strong>Час:</strong> {{ event.time }}</p>
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" style="max-width: 200px;">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
  <p>Ви не зареєстровані. <a href="{% url 'register' %}">Реєструйтесь тут!</a></p>
{% endif %}
{% endblock %}