<!DOCTYPE html>
<html>
<head>
    <title>{{ poll.title }}</title>
</head>
<body>
    <h1>{{ poll.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for question in questions %}
                <li>
                    {{ question.question_text }} - {{ question.votes }} votes
                    {% if question.id in voted_question_ids %}
                        <button type="submit" name="unvote" value="{{ question.id }}">
                            Unvote
                        </button>
                    {% elif not has_voted %}
                        <button type="submit" name="vote" value="{{ question.id }}">
                            Vote
                        </button>
                    {% else %}
                        <button type="button" disabled>
                            Already Voted
                        </button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>
