{% extends 'base_group.html' %}

{% block title %}Голосування - {{ poll.title }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Голосування: {{ poll.title }}</h1>

    <h2 class="mb-4">Кандидати:</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            {% for candidate in candidates %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-lg">
                        {% if candidate.image %}
                            <img src="{{ candidate.image.url }}" class="card-img-top" alt="{{ candidate.name }}" style="max-height: 200px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ candidate.name }}</h5>
                            <p class="card-text">{{ candidate.description }}</p>
                            <div class="d-flex justify-content-center">
                                <button type="submit" name="candidate_id" value="{{ candidate.id }}" class="btn btn-primary">Проголосувати</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
