<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Задаємо чорний колір для всіх посилань */
        a {
            color: black !important;
        }
    </style>
</head>
{% load static %}
<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/home" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/home" class="nav-link px-2 link-body-emphasis">Головна</a></li>
            <li><a href="/surveys" class="nav-link px-2 link-body-emphasis">Опитування</a></li>
            <li><a href="/forum" class="nav-link px-2 link-body-emphasis">Форум</a></li>
            <li><a href="/calendar" class="nav-link px-2 link-body-emphasis">Календар подій</a></li>
            <li><a href="/poll" class="nav-link px-2 link-body-emphasis">Опитування</a></li>
            {% if request.user.status == 'admin' %}
                <li><a href="{% url 'admin_panel' %}" class="nav-link px-2 link-body-emphasis">Адмін панель</a></li>
            {% endif %}
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="/register">Регестрація</a></li>
              <li><a class="dropdown-item" href="/login">Логін</a></li>
              <li><a class="dropdown-item" href="/profile">Профіль</a></li>
              <li><a class="dropdown-item" href="/notifications">Новини</a></li>
              <li><a class="dropdown-item" href="/forum/create">Створити публікацію</a></li>
              <li><a class="dropdown-item" href="/portfolio">Портфоліо</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
<body>
    <div class="container">
        {% block body %} {% endblock %}
    </div>
    <!-- Підключення до Bootstrap JS (опціонально, якщо потрібен JS для бутстрапу) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-body-secondary">Головна</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
  </footer>
</html>
